*.class
*.log
/project/target
/target
/.idea
jvm/target
js/target
project/project/target
/.bsp/sbt.json
/js/yarn.lock
/project/project/project/target/
/project/project/project/project/target
.metals
.bloop
.vscode
metals.sbt
